.messages {
	list-style-type: none;
	padding: 0 2rem 2rem;
	width: 100%;
}

.message {
	background: var(--surface-secondary);
	border-radius: 0.5rem;
	margin-block-start: 2rem;
	padding: 1.5rem 1.5rem 1rem;
	overflow: hidden;
}

@media (min-width: 650px) {
	.wrapper {
		grid-row: span 2;
		height: 100vh;
		overflow-y: scroll;
	}

	.messages {
		align-items: start;
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		gap: 1rem;
		margin-block-start: 0;
		order: 1;
		overflow-x: scroll;
		padding-block-start: 2rem;
	}
}

.image {
	margin: -1.5rem -1.5rem 0;
	width: calc(100% + 3rem);
}

.text {
	margin: 0.5rem 0;
}

.meta {
	color: var(--text-muted);
	font-size: 0.75rem;
	margin: 0;
}

.empty {
	background: var(--surface-secondary);
	border-radius: 0.5rem;
	margin: 15vh auto;
	width: min(650px, 90%);
	padding: 3rem;
	text-align: center;

	& p {
		margin-block: 0.75rem 1rem;
	}

	& a {
		background: var(--surface-main);
		border-radius: 0.25rem;
		color: inherit;
		display: block;
		font-size: 1.5rem;
		margin-block: 1rem;
		padding: 0.5rem;
		text-decoration: none;
	}
}
